@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');
@import "variables.css";
@import "navbar.css";
@import "footer.css";

/* Tus estilos generales aquí */

/* styles.css */

body {
    background: var(--bg-soft);
    font-family: 'Fredoka', sans-serif;
    color: var(--text-dark);
}

main {
    padding: 80px 60px;
}
